<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/batch
	http://www.springframework.org/schema/batch/spring-batch-2.2.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">



    <task:scheduler id="scheduler" pool-size="10"/>


    <bean id="Test" class="com.springapp.batch.scheduler.service.AccountService"/>


    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="Test" method="process" fixed-delay="1000" initial-delay="0"/>
        <task:scheduled ref="Test" method="process" cron="*/5 * * * * MON-FRI"/>
    </task:scheduled-tasks>

</beans>